:root {
  /* Dark mode */
  /* --bk-body: #232529; */
  /* --color-texte: lightgray; */
  /* --bk-code: #282A36; */
  
  /* Light mode */
  --bk-body: white;
  --color-texte: black;
  --bk-code: white;
}

body {
  background: var(--bk-body);
  color: var(--color-texte);
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
}

a {
  color: lightskyblue;
}

code, pre {
  display: block;
  padding: 1rem;
  background: var(--bk-code);
}

#container {
  min-height: 2rem;
  background: var(--bk-code);
}
